body {
  background-color: white;
  color: black;
}

#button-container .btn {
  padding: 100px 0;
  max-width: 90%;
  font-size: 50px;
}

.taskPanel {
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 0 2%;
}

.done p{
  text-decoration-line: line-through;
  color: red;
}

.done .checkbox {
  visibility: hidden;
}

.done label {
  visibility: hidden;
}